<title>Mi sitio

</title>
<link rel="shortcut icon" href="./images/cynda.png" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css">
