<!--views/partials/navbar.ejs -->
<ul class="nav nav-tabs" id="navbar">
    <li class="nav-item" id="navbaruno">
      <a class="nav-link active" href="/">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/ubicacion">Geolocalización</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/social">Twitter</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/pokemon">Pokemon</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/streaming">Streaming</a>
    </li>
  </ul>
