<!DOCTYPE html>
<html lang="es" >
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar'); %>
    <div class="jumbotron jumbotron-fluid" id="numero">
      <div class="container">
        <h1 class="display-4">Bienvenido a mi sitio Web</h1><hr><hr><hr>
        <p class="lead">En este sitio encontraras varias implementaciones de API's</p>
        <img src="./images/api.jpg" alt="" width="700">
        <p>Mi primier sitio basico con Express</p>
      </div>
    </div>
    <%- include('partials/footer'); %>

    <%- include('partials/script'); %>
  </body>
</html>
