<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Paypal</title>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/navbar'); %>

  <div class="jumbotron jumbotron-fluid" id="numero">
    <div class="container">
      <h1 class="display-4">Paypal</h1>

      <div class="">
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>

        <div id="paypal-button"></div>

        <script>
          paypal.Button.render({
            env: 'sandbox', // Or 'production'
            // Set up the payment:
            // 1. Add a payment callback
            payment: function(data, actions) {
              // 2. Make a request to your server
              return actions.request.post('/my-api/create-payment/')
                .then(function(res) {
                  // 3. Return res.id from the response
                  return res.id;
                });
            },
            // Execute the payment:
            // 1. Add an onAuthorize callback
            onAuthorize: function(data, actions) {
              // 2. Make a request to your server
              return actions.request.post('/my-api/execute-payment/', {
                  paymentID: data.paymentID,
                  payerID: data.payerID
                })
                .then(function(res) {
                  // 3. Show the buyer a confirmation message.
                });
            }
          }, '#paypal-button');
        </script>
      </div>

    </div>
  </div>

  <script src="./javascripts/paypal.js" ></script>
</body>

</html>
