<!DOCTYPE html>
<html lang="es" >
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <%- include('../partials/navbar'); %>

    <div class="jumbotron" id="numero3">
        <h1 class="display-4">Bienvenido a mi Twitter:</h1>
        <hr class="my-4" id="negro">

        <div id="twitter">
            <a data-theme="dark" data-width="" class="twitter-timeline" href="https://twitter.com/OsvaldoZamarri6?ref_src=twsrc%5Etfw">Tweets by OsvaldoZamarri6</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>

    </div>
    <%- include('../partials/script'); %>
  </body>
</html>
